<a href="https://colab.research.google.com/github/AteneaCB/Python/blob/main/M4Sesi%C3%B3n1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Módulo 4**

**Sesión 1**
Estimados de Locación y Variabilidad

1. Datos estructurados:
- Numéricos
  - Discretos: enteros
  - Contínuos: intervalos
- Categóricos
  - Binarios : Y/N, True/False, etc.
  - Ordinales: mayor-menor, mejor-peor, etc.


2. Datos no estructurados

**Reto 1**
Datos estructurados

**a) Identificando datos estructurados**
A continuación verás varias muestras de datos y sus descripciones. Asígnales una de las categorías de datos estructurados que acabas de aprender. Después, comparte tus hipótesis con la experta y con tus compañeros.

In [ ]:
#Muestra 1. Extraída de un conjunto de datos que contiene edades de personas
edades = pd.Series([23, 34, 4, 45, 52, 59, 23, 48, 50, 49, 3, 4, 6, 8, 79, 6, 40, 17, 34, 4, 67, 97, 87, 65, 24, 4, 46])

#Muestra 2. Extraída de un conjunto de datos que contiene evaluaciones de restaurantes hechas por usuarios de una app
evaluaciones = pd.Series([1, 4, 2, 2, 3, 5, 4, 4, 4, 5, 1, 2, 2, 3, 5, 2, 4, 3, 3, 1, 5, 5, 2, 4, 3, 3, 4, 4, 5, 1, 2])

#Muestra 3. Extraída de un conjunto de datos que contiene códigos de respuesta HTTP obtenidos al realizar llamadas constantes a una API
codigos = pd.Series([400, 400, 200, 200, 201, 200, 201, 400, 201, 404, 400, 200, 200, 201, 200, 201, 201, 500, 400, 200])

#Muestra 4. Extraída de un conjunto de datos que contiene mediciones precisas de temperaturas ambientales hechas durante un verano de la CDMX
temperaturas = pd.Series([22.45, 21.34, 20.23, 20.34, 25.54, 24.34, 18.23, 19.35, 18.24, 25.5, 24.33, 20.19, 21.45, 22.45])

#Muestra 5. Extraída de un conjunto de datos que contiene resultados de una encuesta cuyas únicas posibles respuestas eran "sí" y "no"
encuesta = pd.Series([0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0])

Muestra 1: edades
Numérico discreto

Muestra 2: calificaciones
Categórico ordinal

Muestra 3: códigos de error
Categórico ordinal: tiene orden explícito.
Nota: si calculáramos la media, aunque es posible hacerlo, la respuesta no tendría sentido.

Muestra 4: temperaturas
Numérico contínuo

Muestra 5: respuestas sí o no
Catgórico binario

**Ejemplo 1**
Estimados de Locación

- Aprender a calcular estimados de locación utilizando `pandas`.

In [2]:
#Librerías
import pandas as pd

#DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/beduExpert/B2-Analisis-de-Datos-con-Python-2020-Santander/main/Datasets/melbourne_housing-clean.csv', index_col=0)

df.head()

       suburb           address  ...            region_name property_count
0  Abbotsford      85 Turner St  ...  Northern Metropolitan         4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan         4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan         4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan         4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan         4019.0

[5 rows x 19 columns]

In [3]:
#Valor típico o media
df['price'].mean()

1068141.895071269

In [8]:
promedio = sum(df['price'])/df['price'].count()
promedio

1068141.895071269

In [4]:
df.dtypes

suburb             object
address            object
rooms               int64
type               object
price             float64
method             object
seller_g           object
date               object
distance          float64
postcode          float64
bedroom_2         float64
bathroom          float64
car               float64
land_size         float64
council_area       object
latitude          float64
longitude         float64
region_name        object
property_count    float64
dtype: object

In [5]:
#Mediana
df['price'].median()

895500.0

In [13]:
mediana = df['price'].count()/2
mediana

5823.0

**Reto 2**
Estimados de locación

- Implementar los algoritmos para obtener estimados de locación sin utilizar los métodos builtin de pandas.

**a) Implementando estimados de locación**

Este Reto va a consistir en implementar el promedio y la mediana sin utilizar los métodos mean y median que vienen incluidos en pandas. Implementar algoritmos desde 0 es una excelente práctica que nos ayuda a entenderlos mejor y recordarlos con más precisión.

Puedes utilizar pandas y otras funciones vectorizadas o de reducción. Las únicas funciones que no están permitidas son mean y median. Las dos funciones que vas a crear deben recibir una serie de pandas y regresar un solo número.

In [31]:
def promedio_custom(serie):
    return serie.sum() / serie.count()
    pass

In [40]:
def mediana_custom(serie):
    #Ordenar
    serie_sort = serie.sort_values(ascending=True)
    serie_sort.count()
    if serie_sort.count() % 2 == 0:
        bottom = int(serie_sort.count()/ 2)
        top = bottom + 1
        return (serie_sort.iloc[bottom]+ serie_sort[top])/ 2
    else:
        m = serie_sort.count()//2
        return serie_sort.iloc[m]
    pass

**b) Estimados de locación de diámetros de meteoritos**

Dataset: 'near_earth_objects-jan_feb_1995-clean.csv'
Columna: 'estimated_diameter.meters.estimated_diameter_max'. Esta columna contiene el diámetro máximo estimado de cada objeto.

El reto es el siguiente:
1. Lee el dataset usando pandas.
1. Obtén el promedio y la mediana usando tus funciones custom y asígnalas a promedio_diametro y mediana_diametro.
1. Corre la celda que contiene el código para verificar tus resultados.
1. Responde la pregunta que te regresa la función de verificación.

In [25]:
# Lee el dataset y asígnalo a esta variable

df_meteoritos = pd.read_csv('https://raw.githubusercontent.com/beduExpert/B2-Analisis-de-Datos-con-Python-2020-Santander/main/Datasets/near_earth_objects-jan_feb_1995-clean.csv')

In [26]:
df_meteoritos.head()

   Unnamed: 0  ...  relative_velocity.kilometers_per_hour
0           0  ...                           58114.308667
1           1  ...                           44463.757734
2           2  ...                           22393.567277
3           3  ...                           80923.015021
4           4  ...                           17995.288355

[5 rows x 11 columns]

In [32]:
promedio_diametro = promedio_custom(df_meteoritos['estimated_diameter.meters.estimated_diameter_max'])

In [41]:
mediana_diametro = mediana_custom(df_meteoritos['estimated_diameter.meters.estimated_diameter_max'])

In [42]:
# Pídele al experto la función `verificar_resultados` para que puedas correr la siguiente verificación

def verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro):
    promedio = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()
    if round(promedio_diametro, 6) != round(promedio, 6):
        print(f'El promedio no fue calculado correctamente.')
        print(f'Promedio esperado: {promedio}; Promedio recibido: {promedio_diametro}')
        return
        

    mediana = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].median()
    if mediana_diametro != mediana:
        print(f'La mediana no fue calculada correctamente.')
        print(f'Mediana esperada: {mediana}; Mediana recibida: {mediana_diametro}')
        return
        
    print(f'Los estimados fueron calcualados correctamente.\n')
    print(f'El promedio calculado fue de {promedio_diametro} mientras que la mediana fue de {mediana_diametro}.')
    print(f'¿A qué le atribuyes tú la diferencia?')

verificar_resultados(df_meteoritos, promedio_diametro, mediana_diametro)

Los estimados fueron calcualados correctamente.

El promedio calculado fue de 410.08604223976545 mientras que la mediana fue de 215.7943048444.
¿A qué le atribuyes tú la diferencia?

**Ejemplo 2**
Media Truncada

- Aprender a estimar la media truncada usando scipy: Scientific Python

La media truncada es un estimado de locación más robusto que el promedio y la mediana. Esto significa que es menos sensible a valores atípicos. La media truncada se obtiene de la siguiente manera:

11. Primero ordenamos nuestro conjunto de manera ascendente.
1. Después decidimos qué porcentaje de nuestros datos vamos a truncar. Los valores más comunes suelen variar entre 5% y 25%.
1. Divide el porcentaje acordado entre dos y elimina esa fracción de tus datos del inicio y del final de tu secuencia. Por ejemplo, si decides truncar un 5%, elimina el 2.5% de tus datos del inicio de tu secuencia y el otro 2.5% del final de tu secuencia.
1. Obtén el promedio de los valores restantes.

In [14]:
#Librería scipy
from scipy import stats

In [15]:
#Duck typyng: En Python aplican el "teorema del pato".
#Es decir, si un "dato" parece un tipo de dato y si se le pueden aplicar funciones como ese "tipo de dato", se toma como "ese tipo de dato".

#Media truncada
stats.trim_mean(df['price'], 0.1)

973653.7960935823

In [16]:
#Comparando la media típica con la truncada
df['price'].mean()

1068141.895071269

In [ ]:
#PENDIENTE, conectar drive datasets del curso
from google.colab import drive
drivedrive.mount['']

**Ejemplo 3**
Estimados de variabilidad

- Aprender cómo se calcula la desviación estándar
- Aprender a usar `pandas` para calcularla

1. Primero se obtiene el promedio de nuestros datos.
1. Después sacamos todas las diferencias entre cada valor de nuesrto conjunto y nuestro valor típico.
1. Después elevamos todos los resultados al cuadrado.
1. Luego se suman todos estos valores.
1. Luego se dividen entre la cantidad de valores - 1.
1. Finalmente se saca la raíz cuadrada del valor resultante.

pandas tiene un método con el que podemos calcular la desviación estándar rápidamente:

In [17]:
#Nota: Siempre revisar en la documentación de la librería que utilicemos, si el cálculo de la desviación estandar es de la muestra o la población
#Es decir, si después de dividir los valores les resta 1

df['price'].std()

643728.1914372866

In [18]:
#COmparar con mínimos y máximos para apreciar si la desviación estándar es grande o pequeña.
df['price'].min()

85000.0

In [19]:
df['price'].max()

9000000.0

**Reto 3**
Desviación estándar

- Utilizar la desviación estándar para realizar un análisis de dispersión de nuestros datos

**a) Desviación estándar y distribución de los datos**

1. Crea un DataFrame con el dataset 'near_earth_objects-jan_feb_1995-clean.csv'.
1. Obtén la cantidad total de muestras en tu DataFrame.
1. Obtén la desviación estándar de la columna 'estimated_diameter.meters.estimated_diameter_max'. Los siguientes pasos realízalos todos utilizando esta columna.
1. Obtén el porcentaje de muestras que están a una distancia de 1 desviación estándar del promedio.
1. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándares del promedio.
1. Obtén el porcentaje de muestras que están a una distancia de 3 desviaciones estándares del promedio.
1. Compara los porcentajes obtenidos y comenta con tus compañeros y la experta tus hallazgos.

¿Qué significa esto? ¿La definición de desviación estándar tiene sentido? ¿Qué puedo inferir acerca de la dispersión de mis datos a partir de los valores obtenidos?

In [20]:
df_meteoritos.count()

Unnamed: 0                                          333
id                                                  333
name                                                333
is_potentially_hazardous_asteroid                   333
estimated_diameter.meters.estimated_diameter_min    333
estimated_diameter.meters.estimated_diameter_max    333
close_approach_date                                 333
epoch_date_close_approach                           333
orbiting_body                                       333
relative_velocity.kilometers_per_second             333
relative_velocity.kilometers_per_hour               333
dtype: int64

In [22]:
#3. Obtén la desviación estándar de la columna 'estimated_diameter.meters.estimated_diameter_max'
df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].std()

614.691591855223

In [45]:
total = len(df_meteoritos)  #También puede calcularse con shape[0]
media_tipica = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].mean()
std = df_meteoritos['estimated_diameter.meters.estimated_diameter_max'].std()

In [ ]:
#4. Obtén el porcentaje de muestras que están a una distancia de 1 desviación estándar del promedio
df_meteoritos()

In [ ]:
#5. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándar del promedio
df_meteoritos()

In [ ]:
#6. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándar del promedio
df_meteoritos()

**Ejemplo 4**
Estadísticos de orden

- Rango: valor mayor - valor menor
- Percentiles: 
- Rango intercuartil

In [46]:
#Rango
df['price'].max() - df['price'].min()

8915000.0

In [47]:
#Percentiles
df['price'].quantile(.25)
#Con pandas se señala el porcentaje que representa el cuantile que se busca.
# 0.25 = cuartil 1

640000.0

In [49]:
#Rango intercuartil
df['price'].quantile(0.75) - df['price'].quantile(0.25)

685000.0

Reto 4

**a) Percentiles para evaluar la dispersión de nuestros datos**

Usando percentiles, obtén información acerca de cuál es el valor donde están concentrados nuestros datos y cómo está configurada su dispersión. Entre más percentiles utilices, obtienes una descripción más detallada, pero como el dataset es muy pequeño, no necesitas tanta granularidad.

In [50]:
#Series
serie_1 = pd.Series([1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10])
serie_2 = pd.Series([1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10])
serie_3 = pd.Series([1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 10, 10])
serie_4 = pd.Series([1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10])

In [52]:
#Serie 1
print("Serie 1")
print(f'Valor mínimo, percentil 0: {serie_1.min()} ')
print(f'Percentil 25: {serie_1.quantile(.25)}')
print(f'Media, percentil 50: {serie_1.mean()}')
print(f'Percentil 75: {serie_1.quantile(.75)}')
print(f'Valor máximo, percentil 100: {serie_1.max()}')
print(f'Rango intercuartílico: {serie_1.quantile(0.75) - serie_1.quantile(0.25)}')

Serie 1
Valor mínimo, percentil 0: 1
Percentil 25: 3.75
Media, percentil 50: 5.5
Percentil 75: 7.25
Valor máximo, percentil 100: 10
Rango intercuartílico: 3.5

In [53]:
#Serie 2
print("Serie 2")
print(f'Valor mínimo, percentil 0: {serie_2.min()} ')
print(f'Percentil 25: {serie_2.quantile(.25)}')
print(f'Media, percentil 50: {serie_2.mean()}')
print(f'Percentil 75: {serie_2.quantile(.75)}')
print(f'Valor máximo, percentil 100: {serie_2.max()}')
print(f'Rango intercuartílico: {serie_2.quantile(0.75) - serie_2.quantile(0.25)}')

Serie 2
Valor mínimo, percentil 0: 1
Percentil 25: 6.0
Media, percentil 50: 6.737373737373737
Percentil 75: 8.0
Valor máximo, percentil 100: 10
Rango intercuartílico: 2.0

In [54]:
#Serie 3
print("Serie 3")
print(f'Valor mínimo, percentil 0: {serie_3.min()} ')
print(f'Percentil 25: {serie_3.quantile(.25)}')
print(f'Media, percentil 50: {serie_3.mean()}')
print(f'Percentil 75: {serie_3.quantile(.75)}')
print(f'Valor máximo, percentil 100: {serie_3.max()}')
print(f'Rango intercuartílico: {serie_3.quantile(0.75) - serie_3.quantile(0.25)}')

Serie 3
Valor mínimo, percentil 0: 1
Percentil 25: 5.0
Media, percentil 50: 5.519083969465649
Percentil 75: 6.0
Valor máximo, percentil 100: 10
Rango intercuartílico: 1.0

In [55]:
#Serie 4
print("Serie 4")
print(f'Valor mínimo, percentil 0: {serie_4.min()} ')
print(f'Percentil 25: {serie_4.quantile(.25)}')
print(f'Media, percentil 50: {serie_4.mean()}')
print(f'Percentil 75: {serie_4.quantile(.75)}')
print(f'Valor máximo, percentil 100: {serie_4.max()}')
print(f'Rango intercuartílico: {serie_4.quantile(0.75) - serie_4.quantile(0.25)}')

Serie 4
Valor mínimo, percentil 0: 1
Percentil 25: 2.5
Media, percentil 50: 4.121212121212121
Percentil 75: 5.0
Valor máximo, percentil 100: 10
Rango intercuartílico: 2.5

**b) Percentiles para evaluar nuestro dataset de meteoritos**

Lee el dataset 'near_earth_objects-jan_feb_1995-clean.csv' y obtén percentiles de la columna 'estimated_diameter.meters.estimated_diameter_max'. Comenta con tus compañeros y con la experta tus hallazgos y tus hipótesis acerca de qué podemos aprender sobre la organización de nuestros datos usando los percentiles.