<a href="https://colab.research.google.com/github/AteneaCB/Python/blob/main/Sesi%C3%B3n2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sesión 2**

Estructuras de datos y funciones

**Ejemplo 1**
Listas

In [2]:
#Organizar la información en estructuras
#Lista: Dentro de corchetes [ ]
lista = [1, 4, 6, 6, 3]
#Índices, posición de la variable, inicia a contar desde 0
print(lista[0])

1

In [6]:
#Tamaño de una lista
len(lista)
#print(lista[4])

5

In [8]:
#Con números negativos se accede a los números de derecha a izquierda (-1 último, -2 penúltimo)
lista[-1]
lista[-2]

6

In [11]:
#Las listas aceptan todo tipo de datos
var_1 = 5
var_2 = 2
var_3 = 5.6
var_4 = "Atenea"

lista_2 = [var_1, var_2, var_3, var_4]
print(lista_2)

[5, 2, 5.6, 'Atenea']

In [13]:
lista_con_listas = [[1,2,3], [4,5,6], [7,8,9]]
#Lista dentro de lista, lista -2(penúltima) elemento -1(último)
print(lista_con_listas[-2][-1])

6

**Reto 2**
Creando listas y accediendo a ellas

In [15]:
#a) Definir lista
mi_informacion = ["Atenea De La Cruz Brito", "Atenea", "mediterránea", "fast food", "investigadora"]

In [16]:
#Print fstring
print(f'''
¡Hola! Mi nombre es {mi_informacion[0]}. Todos me dicen {mi_informacion[1]}.
Mi comida favorita es {mi_informacion[2]}. Y la comida que más detesto es {mi_informacion[3]}.
Mi trabajo ideal sería {mi_informacion[4]}.
¡Gracias, chau!
''')

¡Hola! Mi nombre es Atenea De La Cruz Brito. Todos me dicen Atenea.
Mi comida favorita es mediterránea. Y la comida que más detesto es fast food.
Mi trabajo ideal sería investigadora.
¡Gracias, chau!

In [25]:
#b) Lista con variables
info_0 = "gatos"
info_1 = "comunicarse"
info_2 = "escucharán"
info_3 = "reflexionar"
info_4 = "alimento a mi gato"

info_faltante=[info_0, info_1, info_2, info_3, info_4]

In [26]:
#Imprimir poniendo 3 comillas simples o dobles sin tener que poner comilas cada vez.
print(f'''
Algún día los {info_faltante[0]} lograrán su objetivo. Su objetivo de {info_faltante[1]}.
Ese día, los humanos {info_faltante[2]} y tendrán que {info_faltante[3]}.
Por esa razón yo todos los días {info_faltante[4]}.
''')

Algún día los gatos lograrán su objetivo. Su objetivo de comunicarse.
Ese día, los humanos escucharán y tendrán que reflexionar.
Por esa razón yo todos los días alimento a mi gato.

In [24]:
#c) Práctica el operador de indexación
respuestas = [0.58, 9, 2, 3, 37, 5, 75, 4]

In [70]:
# Print
dientes= respuestas[4]-respuestas[5]
print(f'''
1. Los humanos tenemos {respuestas[2]} ojos en la cara.
2. Un humano adulto tiene {dientes} dientes dentro de su boca.
3. Un feto tarda {respuestas[1]} meses en gestarse antes de nacer.
4. La expectativa de vida en México es de alrededor de {respuestas[-2]} años.
5. Las horas de sueño al día recomendadas para adultos jóvenes son entre {respuestas[5]} y {respuestas[1]}.
6. El récord actual de velocidad en 100 metros (09/05/2020) fue establecido por Usain Bolt y es de {respuestas[0]}
''')

1. Los humanos tenemos 2 ojos en la cara.
2. Un humano adulto tiene 32 dientes dentro de su boca.
3. Un feto tarda 9 meses en gestarse antes de nacer.
4. La expectativa de vida en México es de alrededor de 75 años.
5. Las horas de sueño al día recomendadas para adultos jóvenes son entre 5 y 9.
6. El récord actual de velocidad en 100 metros (09/05/2020) fue establecido por Usain Bolt y es de 0.58

**Ejemplo 2**
Modificando listas

Nota: Las tuplas no se pueden editar y son un poco más rápidas que las listas.

In [35]:
listas= [0,1,2,3]
tuplas= (1,2,3,4)

print(listas[0])
print(tuplas[0])

0
1

In [38]:
#Función append para agregar al final un elemento.
listas.append(4)
print(listas)
#Función pop para eliminar el último elemento.
listas.pop()
print(listas)
#En tuplas no se pueden utilizar estas funciones

[0, 1, 2, 3, 4, 4]
[0, 1, 2, 3, 4]

In [40]:
#Insert posición de índice y valor
listas.insert(0,9)
listas.pop(0)
print(listas)

[9, 0, 1, 2, 3, 4]

In [41]:
#Actualizar un valor
listas[0] = 7
print(listas)

[7, 0, 1, 2, 3, 4]

**Reto 2** Modificando listas

In [54]:
#a)Modificar para eliminar diferencias
lista_1 = [3.4, 0.7, 99.9, 5.41, 6.23, 7.9]

lista_2 = [3.4, 63.4, 0.7, 6.46, 99.9, 2.2, 5.41]

# Tu código va aquí
lista_2.remove(63.4)
lista_2.remove(6.46)
lista_2.remove(2.2)
lista_2.insert(4, 6.23)
lista_2.insert(5, 7.9)
print(lista_2)
#También se pudo hacer con pop y append

[3.4, 0.7, 99.9, 5.41, 6.23, 7.9]

In [55]:
#Print
if lista_1 == lista_2:
    print("Tú y yo somos uno mismo")

Tú y yo somos uno mismo

In [65]:
# b) Corregir fragmentos
fragmento_fragmentado = ['Apenas', 'él', 'le', 'amalaba', 'hidrolizado' 'el', 'noema,',
                         'a', 'ella', 'se', 'le', 'agolpaba', 'el', 'clémiso', 'súbito',
                         'y', 'caían', 'en', 'fermales', 'hidromurias,', 'en', 'salvajes', 'ambonios,',
                         'en', 'sustalos', 'distales', 'exasperantes.',
                         'Cada', 'vez', 'que', 'él', 'procuraba', 'relamar', 'las', 'incopelusas,']

# Tu código va aquí
fragmento_fragmentado.pop(4)
fragmento_fragmentado.pop(12)
fragmento_fragmentado.pop(15)
fragmento_fragmentado.pop(21)

'distales'

In [66]:
tu_nombre = "Atenea"  # Tu nombre va aquí
print(f'==Colaboración póstuma de Cortázar y {tu_nombre}==\n')
print(f'{" ".join(fragmento_fragmentado)}')
#Para volver listas en texto

==Colaboración póstuma de Córtazar y Atenea==

Apenas él le amalaba noema, a ella se le agolpaba el clémiso y caían en hidromurias, en salvajes ambonios, en sustalos exasperantes. Cada vez que él procuraba relamar las incopelusas,

In [67]:
#Funciones para convertir de lista a texto y viceversa con join y split
text= ["Hola", "soy", "Atenea"]
texto_comas= ", ".join(text)
print(texto_comas)
texto_comas.split(",")

Hola, soy, Atenea

['Hola', ' soy', ' Atenea']

Nota: Sublistas

In [78]:
#Las listas pueden sumarse o multiplicarse
#Se pueden sumar listas
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [79]:
#Se pueden copiar un número determinado de veces con multiplicar
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [82]:
#Sublistas
letras= ['a', 'b', 'c', 'd', 'e', 'f']
# Desde qué elemento y en cual se detiene
print(letras[0:3])
#Si no dice donde inicia ni termina
#Inicia desde cero
print(letras[:3])
#Termina en el final de la lista
print(letras[-3:])

['a', 'b', 'c']
['a', 'b', 'c']
['d', 'e', 'f']

**Ejemplo 3**
Creando y accesando diccionarios

In [74]:
#Diccionarios, se definen con llaves
#Los elementos se separan por comas
mi_diccionario = {"nombre": "Atenea", "iniciales": "DLCB", "calificaciones": [10, 9.9, 9.8, 10]}
mi_diccionario["nombre"]

'Atenea'

In [76]:
print(mi_diccionario)

{'nombre': 'Atenea', 'iniciales': 'DLCB', 'calificaciones': [10, 9.9, 9.8, 10]}

In [77]:
#Para acceder dentro del diccionario
mi_diccionario['calificaciones'][-1]

10

**Reto 3**
Creando y accesando diccionarios

In [85]:
#Completa el diccionario ventas_mensuales para que el código que imprime el resumen de las ventas funcione correctamente.
ventas_mensuales = {
    "fecha_de_corte": "01/05/2020",
    "unidad": "Aragón",
    "ventas_pasteleria": 50000,
    "ventas_panaderia": 40000,
    "ganancias_pasteleria": 45000,
    "ganancias_panaderia": 32000,
    "gastos_mensuales_totales": 4000,
    "analista": "Atenea"
}

In [86]:
ventas_totales_de_insumos = ventas_mensuales["ventas_pasteleria"] + ventas_mensuales["ventas_panaderia"]
ganancias_totales = ventas_mensuales["ganancias_pasteleria"] + ventas_mensuales["ganancias_panaderia"]
ganancias_netas = ganancias_totales - ventas_mensuales["gastos_mensuales_totales"]

print(f'==Resumen de ventas mensuales de la unidad {ventas_mensuales["unidad"]}==/n')
print(f'Fecha de corte: {ventas_mensuales["fecha_de_corte"]}/n')
print(f'  - Ventas totales de insumos: {ventas_totales_de_insumos}')
print(f'  - Ganancias totales: {ganancias_totales}')
print(f'  - Ganancias netas: {ganancias_netas}')
print(f'\n')
print(f'(Información recabada por: {ventas_mensuales["analista"]})')

==Resumen de ventas mensuales de la unidad Aragón==/n
Fecha de corte: 01/05/2020/n
  - Ventas totales de insumos: 90000
  - Ganancias totales: 77000
  - Ganancias netas: 73000


(Información recabada por: Atenea)

**Ejemplo 4**
Modificando diccionarios

In [87]:
# Librería pprint como pritty print, para imprimirla bonita
from pprint import pprint

In [88]:
#Ejemplo
pprint(ventas_mensuales)

{'analista': 'Atenea',
 'fecha_de_corte': '01/05/2020',
 'ganancias_panaderia': 32000,
 'ganancias_pasteleria': 45000,
 'gastos_mensuales_totales': 4000,
 'unidad': 'Aragón',
 'ventas_panaderia': 40000,
 'ventas_pasteleria': 50000}

In [93]:
#Para agregar información en el diccionario
ventas_mensuales["ventas_panaderia"]=999
pprint(ventas_mensuales)

{'fecha_de_corte': '01/05/2020',
 'ganancias_panaderia': 32000,
 'ganancias_pasteleria': 45000,
 'gastos_mensuales_totales': 4000,
 'unidad': 'Aragón',
 'ventas_panaderia': 999,
 'ventas_pasteleria': 50000}

In [ ]:
#Para eliminar una llave con pop
ventas_mensuales.pop('analista')
#Devuelve el valor que va a borrar

In [96]:
#Para serciorarnos si está o no dentro
if "analista" in ventas_mensuales:
    print("Todavía existe")
else:
    print("Ya no")

Ya no

**Reto 4**
Modificando diccionarios

La actividad tienen 3 partes:

1. Usando la técnica para modificar valores en un diccionario, cambia la información del diccionario para que sea la tuya.
2. Usando la técnica para agregar datos al diccionario agrega las llaves que estén siendo accesadas en el print pero que no han sido agregadas al diccionario.
3. Usando la técnica para eliminar datos del diccionario, elimina los datos sensibles que no quieras que estén incluidos en el diccionario.

In [106]:
registro = {
    "id": "23f-58j-kju7-54re",
    "nombre": "Alberto",
    "apellido_materno": "Gutierrez",
    "apellido_paterno": "Sosa",
    "profesion": "Contador",
    "ultimo_nivel_de_estudios": "Maestría",
    "lugar_de_estudios": "UAM",
    "numero_de_cuenta": "25367890",
    "nip_de_cajero": "142"
}

registro["apellido_materno"]= "Ramírez"
registro["apellido_paterno"]= "Díaz"
registro["profesion"]= "Historiador"
registro["lugar_de_estudios"]= "UABC"

registro["fecha_de_nacimiento"]= "8/08/1984"
registro["lugar_de_nacimiento"]= "Tijuana, B.C."

registro.pop("numero_de_cuenta")
registro.pop("nip_de_cajero")

'142'

In [107]:
#Tip: Para controlar el espaciado en el formato de print se agregaron dos puntos seguidos de el número de espacios a mostrar :25
#Sin importar que tan grande o pequeño sea el texto, para que aparezca con el formato de abajo
print(f'Registro con id: {registro["id"]}\n')
print(f'---------------------------------------\n')
print(f'{("Nombre"):25} | {registro["nombre"]:25}')
print(f'{("Apellido Materno"):25} | {registro["apellido_materno"]:25}')
print(f'{("Apellido Paterno"):25} | {registro["apellido_paterno"]:25}')
print(f'{("Profesión"):25} | {registro["profesion"]:25}')
print(f'{("Último nivel de estudios"):25} | {registro["ultimo_nivel_de_estudios"]:25}')
print(f'{("Lugar de estudios"):25} | {registro["lugar_de_estudios"]:25}')
print(f'{("Fecha de nacimiento"):25} | {registro["fecha_de_nacimiento"]:25}')
print(f'{("Lugar de nacimiento"):25} | {registro["lugar_de_nacimiento"]:25}')

Registro con id: 23f-58j-kju7-54re

---------------------------------------

Nombre                    | Alberto
Apellido Materno          | Ramírez
Apellido Paterno          | Díaz
Profesión                 | Historiador
Último nivel de estudios  | Maestría
Lugar de estudios         | UABC
Fecha de nacimiento       | 8/08/1984
Lugar de nacimiento       | Tijuana, B.C.

**Ejemplo 5**
Funciones

In [109]:
#Definir función con def al inicio, los parámetros van adentro de paréntesis
#Parecido al if se ponene dos puntos y se deja espacio
def multiplicar_por_dos(numero):
    resultado = numero*2
    return resultado

In [113]:
n = 9
multiplicar_por_dos(n)

18

In [117]:
#Es importante recordar el "contexto", lo que se defina dentro de la función, estará sólo ahí adentro,
#Si no queda definido en otra parte no puede volver a llamarse
def multiplicar_numeros (num1, num2):
    return num1 * num2

multiplicar_numeros(5,4)


#Por ello regresa un error, porque print está afuera
print(num1)

20

**Reto 5**
Funciones

In [128]:
# a) numero_es_par
def numero_es_par(numero):
    return numero % 2 == 0
# Da como resultado un Boleano

numero_es_par(8)

True

In [126]:
def test_funcion(funcion_a_probar, num_de_errores, contador, parametros=[], resultado_esperado=None):
    resultado_test = funcion_a_probar(*parametros)
    print(f'Test {contador}: Resultado esperado es `{resultado_esperado}`, obtuvimos `{resultado_test}`')
    if resultado_test != resultado_esperado:
        num_de_errores += 1
        
    return num_de_errores

In [ ]:
print("== Tests numero_es_par==\n")

contador_de_tests = 0
errores = 0

contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[2], resultado_esperado=True)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[3], resultado_esperado=False)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[0], resultado_esperado=True)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[127], resultado_esperado=False)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[-88], resultado_esperado=True)
contador_de_tests += 1
errores = test_funcion(numero_es_par, errores, contador_de_tests, parametros=[-1349], resultado_esperado=False)

print(f'\nErrores encontrados: {errores}')