<a href="https://colab.research.google.com/github/AteneaCB/Python/blob/main/Sesi%C3%B3n7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sesión 7**
Transformación, filtración y ordenamiento de datos

- Hacer casting de tipos de datos.
- Manipular strings usando el módulo str.
- Aplicar funciones custom a un DataFrame.
- Aplicar filtros a nuestros datos.
- Ordenar nuestro dataset por columnas.

**Ejercicio 1**
Casting

In [15]:
#Librerías
import pandas as pd

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander/master/Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)

df.head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

In [17]:
# Usar el método astype para pasarle a nuestro DataFrame un diccionario de conversión.
# Convertir nuestras dos columnas de fechas usando un diccionario de conversión.
#El tipo de dato que usamos para manejar fechas es el llamado datetime. 
#Este tipo de dato nos permite manipular fechas y horarios muy eficientemente.
diccionario_de_conversion = {
    'bestsellers_date.numberLong': 'datetime64[ns]',
    'published_date.numberLong': 'datetime64[ns]'
}

In [18]:
temp = df.astype(diccionario_de_conversion)

temp.head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

In [19]:
temp.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                         object
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [20]:
# Usar el método pd.to_datetime para convertir published_date:

pd.to_datetime(df['published_date.numberLong'], unit='ms')

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
5      2008-06-08
          ...
3027   2013-05-05
3028   2013-05-05
3029   2013-05-05
3030   2013-05-05
3031   2013-05-05
Name: published_date.numberLong, Length: 2266, dtype: datetime64[ns]

In [21]:
#convertir rank.numberInt usando astype:

df['rank.numberInt'].astype(int)
#Nota: Respuesta manda error, es la idea del ejercicio

ValueError: ignored

In [22]:
# Hay valores tipo string, no pueden ser convertidos a int. 
#Para esto usamos el método to_numeric, permite indicar que cuando un error sea encontrado, debe de ser sustituido por un NaN:

pd.to_numeric(df['rank.numberInt'], errors='coerce')

0        2.0
1        3.0
2        4.0
3        5.0
5        7.0
        ...
3027     8.0
3028     9.0
3029    11.0
3030    13.0
3031    14.0
Name: rank.numberInt, Length: 2266, dtype: float64

In [23]:
# Reasignar el resultado al DataFrame original:

df['rank.numberInt'] = pd.to_numeric(df['rank.numberInt'], errors='coerce')

In [24]:
# Para convertirlo a tipo int podemos eliminar los NaNs y luego usar astype:

df = df.dropna(axis=0).copy()

df['rank.numberInt'] = df['rank.numberInt'].astype(int)
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                   int64
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

**Reto 1**
Casting

1. Lee el dataset y crea un DataFrame con él.
1. Realiza una pequeña exploración para familiarizarte con él.
1. Convierte la columna relative_velocity.kilometers_per_hour de object a float64.
1. Convierte la columna close_approach_date a tipo de dato datetime64[ms] usando el método astype y un diccionario de conversión.
1. Convierte la columna epoch_date_close_approach a tipo de dato datetime64[ms] usando el método to_datetime.
1. Asigna el DataFrame resultante a la variable df_reto_1.
1. Guarda tu resultado en un archivo .csv.

In [25]:
# Archivo NASA modificado
df_reto_1 = pd.read_csv('https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander/master/Datasets/near_earth_objects-jan_feb_1995-dirty.csv', index_col=0)

In [26]:
df_reto_1.columns

Index(['id_name', 'is_potentially_hazardous_asteroid',
       'estimated_diameter.meters.estimated_diameter_min',
       'estimated_diameter.meters.estimated_diameter_max',
       'close_approach_date', 'epoch_date_close_approach', 'orbiting_body',
       'relative_velocity.kilometers_per_second',
       'relative_velocity.kilometers_per_hour', 'orbit_class_description'],
      dtype='object')

In [30]:
# Código
df_reto_1['relative_velocity.kilometers_per_hour'] = pd.to_numeric(df_reto_1['relative_velocity.kilometers_per_hour'], errors='coerce')
df_reto_1['relative_velocity.kilometers_per_hour'] = df_reto_1['relative_velocity.kilometers_per_hour'].astype(float)

diccionario_de_conversion = {
    'close_approach_date':'datetime64[ms]',
}

df_reto_1 = df_reto_1.astype(diccionario_de_conversion)
df_reto_1['epoch_date_close_approach'] = pd.to_datetime(df_reto_1['epoch_date_close_approach'], unit='ms')
df_reto_1.dtypes

id_name                                                     object
is_potentially_hazardous_asteroid                             bool
estimated_diameter.meters.estimated_diameter_min           float64
estimated_diameter.meters.estimated_diameter_max           float64
close_approach_date                                 datetime64[ns]
epoch_date_close_approach                           datetime64[ns]
orbiting_body                                               object
relative_velocity.kilometers_per_second                    float64
relative_velocity.kilometers_per_hour                      float64
orbit_class_description                                     object
dtype: object

In [31]:
# Pega aquí la función de verificación
def checar_conversiones(df_reto_1):
    
    import pandas as pd
    import pandas.api.types as ptypes
    
    assert ptypes.is_float_dtype(df_reto_1['relative_velocity.kilometers_per_hour']), 'Cuidado... La columna `relative_velocity.kilometers_per_hour` no es de tipo `float64`'
    assert ptypes.is_datetime64_any_dtype(df_reto_1['close_approach_date']), 'Cuidado... La columna `close_approach_date` no es de tipo `datetime64[ns]`'
    assert ptypes.is_datetime64_any_dtype(df_reto_1['epoch_date_close_approach']), 'Cuidado... La columna `epoch_date_close_approach` no es de tipo `datetime64[ns]'
    
    print(f'¡Éxito! ¡Todas tus conversiones fueron realizadas adecuadamente!')


checar_conversiones(df_reto_1)

¡Éxito! ¡Todas tus conversiones fueron realizadas adecuadamente!

**Ejemplo 2**
Manipulación de `strings`

- Aprender a usar `replace`, `strip`, `title`, `upper`, `lower` y `split` para transformar datos tipo `string``

In [39]:
#DB amazon
df['description'].str.replace('Descr:', '')

0        Aliens have taken control of the minds and bo...
1        A woman's happy marriage is shaken when she e...
2        A Massachusetts state investigator and his te...
3        An aging porn queens aims to cap her career b...
5        The Minneapolis detective Lucas Davenport inv...
                              ...
3027     The New York lawyer Stone Barrington discover...
3028     Jake Fisher discovers that neither the woman ...
3029     Six friends meet in the 1970s at a summer art...
3030     Bernie Gunther, the Berlin cop, is sent to Sm...
3031     A New Hampshire baker finds herself in the mi...
Name: description, Length: 2046, dtype: object

In [40]:
# Columna description que tiene un 'Descr:' al inicio de cada texto. 
#Si queremos remover ese texto podemos usar el método replace de la propiedad str de esa Serie:
df['description'] = df['description'].str.replace('Descr:', '')

In [41]:
df.loc[0, 'description']

' Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.     '

In [42]:
# También tenemos espacios vacíos al principio y final de nuestras strings.
#Vamos a removerlos usando strip:

df['description'].str.strip()

0       Aliens have taken control of the minds and bod...
1       A woman's happy marriage is shaken when she en...
2       A Massachusetts state investigator and his tea...
3       An aging porn queens aims to cap her career by...
5       The Minneapolis detective Lucas Davenport inve...
                              ...
3027    The New York lawyer Stone Barrington discovers...
3028    Jake Fisher discovers that neither the woman h...
3029    Six friends meet in the 1970s at a summer arts...
3030    Bernie Gunther, the Berlin cop, is sent to Smo...
3031    A New Hampshire baker finds herself in the mid...
Name: description, Length: 2046, dtype: object

In [44]:
df['description'] = df['description'].str.strip()
df.loc[0, 'description']

'Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.'

In [45]:
# Columna 'title', cuyos textos están en mayúsculas. 
#Usar algunos métodos para modificar el patrón de mayúsculas y minúsculas:
df['title'].str.lower()

0                       the host
1       love the one you're with
2                      the front
3                          snuff
5                   phantom prey
                  ...
3027     unintended consequences
3028                   six years
3029            the interestings
3030        a man without breath
3031             the storyteller
Name: title, Length: 2046, dtype: object

In [46]:
df['title'].str.title()

0                       The Host
1       Love The One You'Re With
2                      The Front
3                          Snuff
5                   Phantom Prey
                  ...
3027     Unintended Consequences
3028                   Six Years
3029            The Interestings
3030        A Man Without Breath
3031             The Storyteller
Name: title, Length: 2046, dtype: object

In [48]:
#Después de verificar que está mejor, guardarlo
df['title'] = df['title'].str.title()

In [49]:
#Separar nuestra columna author en dos columnas author_first_name y author_last_name.
#Eso lo podemos hacer con el método split:

df['author'].str.split(' ')

0         [Stephenie, Meyer]
1            [Emily, Giffin]
2       [Patricia, Cornwell]
3         [Chuck, Palahniuk]
5           [John, Sandford]
                ...
3027         [Stuart, Woods]
3028         [Harlan, Coben]
3029         [Meg, Wolitzer]
3030          [Philip, Kerr]
3031         [Jodi, Picoult]
Name: author, Length: 2046, dtype: object

In [50]:
#Convertirlo en 2 columnas
df['author'].str.split(' ', expand=True)

              0          1
0     Stephenie      Meyer
1         Emily     Giffin
2      Patricia   Cornwell
3         Chuck  Palahniuk
5          John   Sandford
...         ...        ...
3027     Stuart      Woods
3028     Harlan      Coben
3029        Meg   Wolitzer
3030     Philip       Kerr
3031       Jodi    Picoult

[2046 rows x 2 columns]

In [51]:
df[['author_first_name', 'author_last_name']] = df['author'].str.split(' ', expand=True)

df.head()

                                  amazon_product_url  ... author_last_name
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...            Meyer
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...           Giffin
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...         Cornwell
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...        Palahniuk
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...         Sandford

[5 rows x 14 columns]

**Cadenas**
Funciones que conienen las cadenas

1. Replace
2. Strip
3. Lower & Upper & Title
4. Split & Join

**Reto 2**
Manipulación de string

- Practicar manipular `strings` usando métodos como `split`, `title`, `strip, etc.

1. Reemplaza los guiones en las strings de la columna orbit_class_description por espacios.
1. Elimina los espacios vacíos al principio y final de las strings de la misma columna.
1. Hay una columna llamada id_name que contiene el 'id' y el nombre de cada objeto separados por un guión. Separa estos datos en dos columnas llamadas id y name.
1. Haz que las strings de la columna orbiting_body empiecen con mayúscula.
1. Asigna el DataFrame resultante a la variable df_reto_2.
1. Guarda tu resultado en un archivo .csv.

In [72]:
df_reto_2 = df_reto_1
df_reto_2.columns

Index(['id_name', 'is_potentially_hazardous_asteroid',
       'estimated_diameter.meters.estimated_diameter_min',
       'estimated_diameter.meters.estimated_diameter_max',
       'close_approach_date', 'epoch_date_close_approach', 'orbiting_body',
       'relative_velocity.kilometers_per_second',
       'relative_velocity.kilometers_per_hour', 'orbit_class_description'],
      dtype='object')

In [74]:
#1. replace
df_reto_2['orbit_class_description'] = df_reto_2['orbit_class_description'].str.replace("-", " ")
#2. strip
df_reto_2['orbit_class_description'] = df_reto_2['orbit_class_description'].str.strip()
#3. split
df_reto_2[['id', 'name']] = df_reto_2['id_name'].str.split("-", expand=True)
#4. title
df_reto_2['orbiting_body'] = df_reto_2['orbiting_body'].str.title()
df_reto_2.columns

Index(['id_name', 'is_potentially_hazardous_asteroid',
       'estimated_diameter.meters.estimated_diameter_min',
       'estimated_diameter.meters.estimated_diameter_max',
       'close_approach_date', 'epoch_date_close_approach', 'orbiting_body',
       'relative_velocity.kilometers_per_second',
       'relative_velocity.kilometers_per_hour', 'orbit_class_description',
       'id', 'name'],
      dtype='object')

In [75]:
#6. Guardar to_csv
df_reto_2.to_csv('reto_2.csv')

**Ejemplo 3**
Map

- Usar `map` para convertir datos usando un `diccionario` o una `función`
1. Diccionario
2. Función

In [77]:
int_letra = {
    '1': 'a',
    '2': 'b',
    '3': 'c',
    '4': 'd',
    '5': 'e',
    '6': 'f',
    '7': 'g'
}

df['rank.numberInt'].map(int_letra).head()

0    NaN
1    NaN
2    NaN
3    NaN
5    NaN
Name: rank.numberInt, dtype: object

In [78]:
def double_to_usd(value):
  return f'$(value) USD'

df['price.numberDouble'].map(double_to_usd)

0       $(value) USD
1       $(value) USD
2       $(value) USD
3       $(value) USD
5       $(value) USD
            ...
3027    $(value) USD
3028    $(value) USD
3029    $(value) USD
3030    $(value) USD
3031    $(value) USD
Name: price.numberDouble, Length: 2046, dtype: object

**Reto 3**
Map

a) Boleanos numéricos

1. La columna is_potentially_hazardous_asteroid tiene valores booleanos. Crea un diccionario de mapeo donde hagas un correspondencia de cada valor booleano con su equivalente numérico y transforma esa columna.
2. Usa una función para mapear la columna relative_velocity.kilometers_per_hour a una nueva columna llamada relative_velocity.kilometers_per_minute, que contenga la velocidad del objeto en kilómetros por minuto.
3. Guarda tu DataFrame resultante en la variable df_reto_3.
4. Guarda tu resultado en un archivo .csv.

In [81]:
df_reto_3 = df_reto_2

In [82]:
true_false = {
    True: 1,
    False: 0
}

df_reto_3['is_potentially_hazardous_asteroid'] = df_reto_3['is_potentially_hazardous_asteroid'].map(true_false)

In [83]:
def horas_minutos(valor):
    return valor / 60

df_reto_3['relative_velocity.kilometers_per_minute'] = df_reto_3['relative_velocity.kilometers_per_hour'].map(horas_minutos)

In [84]:
# Pega aquí la función de verificación
def revisar_resultados(df_reto_3):
    
    import pandas as np
    import pandas.api.types as pdtypes
    
    assert pdtypes.is_int64_dtype(df_reto_3['is_potentially_hazardous_asteroid']), 'La columna "is_potentially_hazardous_asteroid" no ha sido transformada a tipo numerico'
    assert len(df_reto_3['is_potentially_hazardous_asteroid'].unique()) == 2, 'Hubo un error con la correspondencia de valores booleanos a numéricos. Hay más de dos valores posibles en la columna resultante'
    assert df_reto_3['relative_velocity.kilometers_per_minute'].equals(df_reto_3['relative_velocity.kilometers_per_hour'] / 60), 'La conversión de kilometros por hora a kilómetros por minuto no fue realizada correctamente'
    
    print(f'Todos los procesos fueron realizados exitosamente!')

revisar_resultados(df_reto_3)

Todos los procesos fueron realizados exitosamente!

**Ejemplo 4**
Apply

- Usar `apply` para aplicar funciones a `Series` y `DataFrames`

In [85]:
import numpy as np

In [86]:
#Crear DataFrame
tacos = {
    'Atenea': [2,11],
    'Alberto': [5,20],
    'Mary': [3,10],
    'Bárbara':[5,13],
    'Selene': [4,15]
}

df_tacos = pd.DataFrame.from_dict(tacos)

In [87]:
def promedio(valores):
    return sum(valores)/len(valores)

df_tacos.apply(promedio, axis=1)

0     3.8
1    13.8
dtype: float64

**Reto 4**
Apply

- Practicar el uso del método `apply` para obtener columnas nuevas a partir de columnas existentes

1. Crea una función que reciba un valor (en este caso el diámetro en metros de un objeto espacial) y regrese la proporción de ese valor en comparación con el diámetro de la Tierra. El diámetro de la Tierra es de 12,742 km. Así que el diámetro de un objeto que mida 10000 metros corresponde a un valor de 0.00078 en proporción al diámetro de la Tierra.
1. Usa la columna 'estimated_diameter.meters.estimated_diameter_max', aplícale la función usando apply y crea una nueva columna llamada proportion_of_max_diameter_to_earth.
1. Asigna el resultado a la variable df_reto_4.
1. Guarda tu conjunto de datos en un archivo .csv.

In [93]:
#Código
df_reto_4 = df_reto_3
def proportion_of_max_diameter_to_earth(value):
    diameter_of_earth_in_meters = 12742000
    return value['estimated_diameter.meters.estimated_diameter_max'] / diameter_of_earth_in_meters

df_reto_4['proportion_of_max_diameter_to_earth'] = df_reto_4.apply(proportion_of_max_diameter_to_earth, axis=1)

In [96]:
#Verificación
def revisar_aplicacion(df_reto_4):
    
    assert 'proportion_of_max_diameter_to_earth' in df_reto_4, 'No existe una columna llamada "proportion_of_max_diameter_to_earth" en el DataFrame'
    assert df_reto_4['proportion_of_max_diameter_to_earth'].equals(df_reto_4['estimated_diameter.meters.estimated_diameter_max'] / 12742000), 'La transformacion no fue realizada adecuadamente'
    
    print(f'La transformación y creación de una nueva columna fue realizada exitosamente!')

revisar_aplicacion(df_reto_4)

La transformación y creación de una nueva columna fue realizada exitosamente!

**Ejemplo 5**
Filtros y ordenamientos

- Aprender cómo funcionan los filtros
- Aplicar varios filtros para verlos en acción

In [52]:
#Digamos que queremos todas los records donde el nombre del autor empiece con 'R'.
#Primero, usamos operadores de comparación (o en este caso, el método str.startswith) para obtener nuestro filtro:

df['author'].str.startswith('R')

0       False
1       False
2       False
3       False
5       False
        ...
3027    False
3028    False
3029    False
3030    False
3031    False
Name: author, Length: 2046, dtype: bool

In [54]:
#Aplicar filtro para acceder a lo True dentro del df
df[df['author'].str.startswith('R')].head()

                                    amazon_product_url  ... author_last_name
79   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...            Crais
94   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...            Crais
110  http://www.amazon.com/Killer-View-Fleming-Ridl...  ...          Pearson
143  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...             Cook
173  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...             Cook

[5 rows x 14 columns]

In [58]:
#Hacer en numérico
df[df['price.numberDouble'] < 15].tail()

                                     amazon_product_url  ... author_last_name
1310  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...             King
1328  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...             King
1343  http://www.amazon.com/Blockade-Billy-Stephen-K...  ...             King

[3 rows x 14 columns]

In [70]:
#Utilizar el símbolo "&" operador lógico como and
filtro_mayor_20 = df['price.numberDouble']>20
filtro_inicia_r = df['author'].str.startswith('R')
libros_r = df[filtro_inicia_r & filtro_mayor_20].head()

In [69]:
#También se puede poner entre paréntesis
df[ (df['price.numberDouble'] > 20) & (df['author'].str.startswith('R'))].tail()

                                     amazon_product_url  ... author_last_name
2594  http://www.amazon.com/Canada-Richard-Ford-eboo...  ...             Ford
2692  http://www.amazon.com/Frozen-Heat-Nikki-Richar...  ...           Castle
2891  http://www.amazon.com/Suspect-Robert-Crais-ebo...  ...            Crais
2930  http://www.amazon.com/Suspect-Robert-Crais-ebo...  ...            Crais
2945  http://www.amazon.com/Suspect-Robert-Crais-ebo...  ...            Crais

[5 rows x 14 columns]

In [71]:
#Ordenación
libros_r.sort_values('price.numberDouble', ascending=False).head()

                                    amazon_product_url  ... author_last_name
79   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...            Crais
94   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...            Crais
143  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...             Cook
173  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...             Cook
110  http://www.amazon.com/Killer-View-Fleming-Ridl...  ...          Pearson

[5 rows x 14 columns]

**Reto 5**
Filtros

- Practicar el uso de filtros para la obtención de subconjuntos de datos

**a) Filtrando por fechas, booleanos y valores numéricos**
Vamos a trabajar con el mismo dataset que guardaste del Reto anterior. Este Reto consiste en los siguiente:
1. Usando filtros, crea 3 subconjuntos de datos:
2. Un subconjunto llamado df_hazardous que contenga sólo los records que correspondan a los objetos donde is_potentially_hazardous_asteroid sea True (o 1).
3. Un subconjunto llamado df_greater_than_1000 que contenga sólo los records donde el estimated_diameter.meters.estimated_diameter_max sea mayor a 1000 metros.
4. Un subconjunto llamado df_february que contenga sólo los records que pertenezcan exactamente al mes de Febrero de 1995. Recuerda que los datos en la columna epoch_date_close_approach están en milisegundos.

In [98]:
df_reto_4.columns

Index(['id_name', 'is_potentially_hazardous_asteroid',
       'estimated_diameter.meters.estimated_diameter_min',
       'estimated_diameter.meters.estimated_diameter_max',
       'close_approach_date', 'epoch_date_close_approach', 'orbiting_body',
       'relative_velocity.kilometers_per_second',
       'relative_velocity.kilometers_per_hour', 'orbit_class_description',
       'id', 'name', 'relative_velocity.kilometers_per_minute',
       'proportion_of_max_diameter_to_earth'],
      dtype='object')

In [114]:
# is_potentially_hazardous_asteroid sea True ó 1
df_hazardous = df_reto_4[df_reto_4['is_potentially_hazardous_asteroid']==1]

In [115]:
# estimated_diameter.meters.estimated_diameter_max sea mayor a 1000 metros
df_bigger_than_1000 = df_reto_4[df_reto_4['estimated_diameter.meters.estimated_diameter_max']> 1000]

In [116]:
# mes de Febrero de 1995
#Recuerda que los datos en la columna epoch_date_close_approach están en milisegundos
df_february = df_reto_4[ (df_reto_4['epoch_date_close_approach']>'1995-01-31') & (df_reto_4['epoch_date_close_approach']<'1995-03-01')]

In [ ]:
# Pega aquí la función de verificación
def checar_subconjuntos(df_february, df_hazardous, df_bigger_than_1000):
    
    assert (df_hazardous['is_potentially_hazardous_asteroid'] == 0).sum() == 0, 'Algunos records en `df_hazardous` pertenecen a objetos donde is_potentially_hazardous_asteroid es `False`'
    assert (df_hazardous['is_potentially_hazardous_asteroid'] == 1).sum() > 0, 'No hay ningun record en `df_hazardous` donde is_potentially_hazardous_asteroid sea `True`'
    
    assert (df_bigger_than_1000['estimated_diameter.meters.estimated_diameter_max'] <= 1000).sum() == 0, 'Algunos records en `df_bigger_than_1000` pertenecen a objetos con diámetro menor a 1000 metros'
    assert (df_bigger_than_1000['estimated_diameter.meters.estimated_diameter_max'] > 1000).sum() > 0, 'No hay ningún record en `df_bigger_than_1000` que pertenezca a objetos con diámetro mayor a 1000 metros'
    
    february = pd.to_datetime('1995-02-01', format='%Y-%m-%d').timestamp() * 1000
    march = pd.to_datetime('1995-03-01', format='%Y-%m-%d').timestamp() * 1000 
    
    assert (df_february['epoch_date_close_approach'] < february).sum() == 0, 'Algunos records de `df_february` pertenecen a meses anteriores a Febrero de 1995'
    assert (df_february['epoch_date_close_approach'] >= march).sum() == 0, 'Algunos records de `df_february` pertenecen a meses posteriores a Febrero de 1995'
    
    print('Todos tus subconjuntos son correctos. ¡Gran trabajo!')

checar_subconjuntos(df_february, df_hazardous, df_bigger_than_1000)